<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Olshop_App.My.MySettings.db_olshopConnectionString" connectionString="Data Source=1.1.1.248,1433;Network Library=DBMSSOCN;Initial Catalog=db_olshop;User id=sa;password=adexe123;" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
</configuration>
